---
layout: default
description: UIKonf - Berlin's independent conference for serious iOS developers.
redirect_from:
- /program.html
- /scholarship/
- /tickets/
- /venue.html
---

<div class="headerimage-home" style="background-image: url({{ site.baseurl }}/static/images/hero_radialsystem.jpg);" data-uk-parallax="{bg: '-50'}">
  <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-flex-column">
    <div class="teaser-register">
      <img src="{{ site.baseurl }}/static/images/Logo_bigger.png" alt="logo UIKonf" />
      <p>May 26th-29th 2019<br/>
      <a href="#Location"><i class="uk-icon-map-o"></i> Radialsystem V - Berlin</a></p>
      <a class="btn uk-button-large" href="{{ site.ticket_url }}">Register now</a>
      <p><a href="#Sponsors">Become a Sponsor</a> &nbsp; | &nbsp;
      <a href="http://uikonf.us9.list-manage.com/subscribe?u=08d7d9a7a55f501920eb76453&id=d3f17105cf" target="_blank">Sign up for News</a>
      </p>
    </div>
  </div>
</div>

<!-- ABOUT --> 
{% capture about_content %}
  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <h2>About UIKonf</h2>
      </div>
      <div class="uk-width-medium-1-2">
        <p>UIKonf is Berlin's independent conference for serious iOS developers. Taking place from May 26th to
        29th 2019 in RADIALSYSTEM V in Berlin it is a great place to meet and connect with experienced
        developers from all over Europe.</p>
        <p>UIKonf features inspiring speakers giving talks on cutting edge topics in iOS development, mobile
        design and business.</p>
      </div>
      <div class="uk-width-medium-1-2">
        <p class="uk-contrast">But UIKonf is not only about gathering knowledge. We want to facilitate new
        connections and friends amongst our great community by providing an inclusive setting where all participants feel safe and welcome. In
        order to achieve that, we expect all to abide by our <a href="coc">Code of Conduct</a>.</p>
        <p>To help people connect, we framed UIKonf with social events which provide an informal environment for
        meeting like-minded people.</p>
      </div>
    </div>
  </div>
{% endcapture %}
{% include content-block.md topShape="backshape brand-color" content=about_content %}

REVIEW
{% capture review_content %}
  <div class="uk-width-1-1 uk-text-center">
    <a name="videos"></a>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=9onK2xjY31g"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
{% endcapture %}
{% include content-block.md topShape="straight" title="Live Stream" content=review_content %}


<!-- SCHEDULE --> 
{% capture schedule_content %}
  {% include schedule.md context="schedule" %}
{% endcapture %}
{% include content-block.md topShape="backshape light-grey" title="Schedule" content=schedule_content %}

<!-- TICKETS  -->
<!-- {% capture ticket_content %}
  <div class="uk-width-1-1">  
    <p><tito-widget event="uikonf/uikonf-2019"></tito-widget></p>
    <p>Ticket prices include VAT (MwSt.), free drinks, lunch on the conference days and the UIKonf party. See <a
        href="refunds">our refunds policy</a> if you are not sure about your plans in May.</p>
     <p>We also provide discounted diversity tickets for 99€, aimed to help underrepresented groups in tech. This
      includes but isn’t limited to: women, people of colour, LGBTQIA+ people, disabled people and generally
      people who are unable to attend without financial assistance. If you think you are eligible for a diversity
      ticket, simply <a href="https://goo.gl/forms/E02529wutoMOyB2S2" target="_blank">fill out the application
        form</a>.</p>
    <p>We are also offering free tickets to members of underrepresented groups in tech. This includes but isn’t limited to: 
      women, people of colour, LGBTQIA+ people, and disabled people and generally people who are unable to attend without financial assistance. 
      To apply for a diversity ticket, <a href="https://goo.gl/forms/LVDWNeVkYwNbjUFR2">fill out this form</a>.</p> 
    <p>If you want to support diversity at UIKonf, you can do so when booking your ticket. Simply
      select the additional "Scholarship Sponsor" package which provides one ticket for our diversity ticket applicants.</p>
  </div>
{% endcapture %}
{% include content-block.md topShape="straight" title="Tickets" content=ticket_content %} -->

<!-- SPEAKER --> 
{% capture speaker_content %}
  <div class="uk-width-1-1">
    <p>For UIKonf 2019 we decided to present you a special edition with an amazing all female speaker line up. We therefore decided 
      to pause the CfP for this year and invite all speakers personally. However, if you would like to speak or suggest someone, 
      please <a href="mailto:engin@uikonf.com" target="_blank">reach out to Engin</a>.</p>
    <p>As a speaker, your travel expenses will be reimbursed and you will be our guests
    at our selected Hotel in Berlin. Of course, we will also reimburse you for your ticket if you already have
    purchased one.</p>
    <p><a href="http://uikonf.us9.list-manage.com/subscribe?u=08d7d9a7a55f501920eb76453&id=d3f17105cf" target="_blank">Sign
      up for our newsletter to hear about our invited speakers first.</a></p>
  </div>
  {% for speaker in site.speakers %}
    <div class="uk-width-medium-1-2 uk-width-small-1-2 uk-width-large-1-3">
        {% capture speaker_link %}/speakers#{{ speaker.anchor}}{% endcapture %}
        {% capture speaker_image %}/speaker/{{ speaker.image}}{% endcapture %}
        {% include person.md title=speaker.title inbox-description=speaker.short-bio image=speaker_image link=speaker_link isSmall=0 %}
    </div>
  {% endfor %}
{% endcapture %}
{% include content-block.md topShape="backshape light-grey" title="Speakers" content=speaker_content %}

<!-- SPONSORS --> 
<a name="Sponsors"></a>
{% capture sponsor_content %}
  <div class="uk-width-1-1 uk-text-center">
    <p>If you want to help us bring the iOS developer community together, <a href="mailto:questions@uikonf.com" target="_blank">get in touch with us</a>. Previous UIKonf supporters
    include Keepsafe, Facebook, ebay Tech, JetBrains, Google Firebase, 
    Sky and Microsoft.</p>
  </div>
  {% assign activeSponsors = site.sponsors | where:"active",1 %} {% if activeSponsors.size > 0 %}
  {% for sponsor in activeSponsors %}
    <div class="uk-width-medium-1-1 uk-width-large-1-2 uk-width-small-1-1 ">
      {% include sponsor.md content=sponsor.content image=sponsor.image anchor=sponsor.anchor image-alt=sponsor.image-alt%}
    </div>
  {% endfor %}
  {% endif %}
{% endcapture %}
{% include content-block.md topShape="backshape" title="Sponsors" content=sponsor_content %}

<!-- SOCIAL EVENTS --> 
{% capture event_content %}
  <div class="uk-width-1-1 uk-margin-large-bottom">
    <p>A central part of UIKonf are the social events on the Sunday before the conference. Not only do you get to enjoy Berlin for 
      a day but they also give you a first opportunity to get to know other participants of the conference in a fun atmosphere.</p>
    <p>These are some events we offered in previous years:</p>
  </div>

  {% assign activeEvents = site.events | where:"active",1 %} 

  {% for event in activeEvents %}
    {% include event.md active=event.active title=event.title description=event.description image=event.image image-alt=event.image-alt anchor=event.anchor %}
  {% endfor %}

  {% if activeEvents.size > 0 %}
    <div class="uk-text-center uk-width-large-1-1 uk-width-medium-1-2  uk-width-small-1-1 uk-margin-large-top">
      <a class="btn uk-button-large" style="padding:20px; text-decoration: none;" href="/social-events" alt="Social Events">More details</a>
    </div>
  {% endif %}
{% endcapture %}
{% include content-block.md topShape="backshape light-grey" title="Social Events" content=event_content %}




MAP
{% capture map_content %}
  <div class="uk-width-medium-4-10">
    <a name="Location"></a>
    <h2 class="uk-margin-large-top">Location</h2>
    <p>RADIALSYSTEM V Berlin,
        <br/>Holzmarktstr. 33,
        <br/>10243 Berlin</p>
  </div>
  <div class="uk-width-medium-6-10 uk-margin-large-top">
    <div id='map'></div>
  </div>
{% endcapture %}
{% include content-block.md topShape="straight brand-color" content=map_content %}

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2FiaW5lLXVpa29uZiIsImEiOiJjamVuNGFjeHY0bzNiMndvM245NzM4aHp2In0.mEFZQQ-3Qhh2JudtqJ64RQ';
  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/sabine-uikonf/cjen5yuasvvmt2snub9qlmv0m', // stylesheet location
    center: [13.428628, 52.510368], // starting position [lng, lat]
    zoom: 15 // starting zoom
  });

  map.on('click', function (e) {
    var features = map.queryRenderedFeatures(e.point, {
      layers: ['radialsystem'] // replace this with the name of the layer
    });

    if (!features.length) {
      return;
    }

    var feature = features[0];

    var popup = new mapboxgl.Popup({ offset: [0, -50] })
      .setLngLat(feature.geometry.coordinates)
      .setHTML('<div style="color:#3399ff"><strong>' + feature.properties.title + '</strong><br/>' + feature.properties.description + '</div>')
      .setLngLat(feature.geometry.coordinates)
      .addTo(map);
  });

</script>
