---
layout: default
order: 2
title: mytaxi Stage on a Boat
permalink: /mytaxi-stage/
includeInNavigation: 0
description: UIKonf 2019 - mytaxi Stage on a Boat
---

<div class="headerimage uk-position-relative" style="background-image: url({{ site.baseurl }}/static/images/Seminarschiff-See.jpg);" data-uk-parallax="{bg: '-50'}">
  <!-- <img class="uk-invisible" src="{{ site.baseurl }}/static/images/Seminarschiff-See.jpg" alt="speaker image"> -->
  <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-flex-column">
    <div class="teaser-light">
      <img src="{{ site.baseurl }}/static/images/sponsors/my-taxi.png" alt="logo mytaxi" width=300px>
			<h2>mytaxi Stage at UIKonf 2019</h2>
		</div>
   </div>
</div>
  <div class="backshape opposite light-grey">
  	<div class="wrapper">
  		<div class="uk-container uk-container-center uk-margin-large-bottom">
  			<div class="uk-grid">
  	    	<div class="uk-width-1-1">
            <h2>mytaxi Stage on a Boat</h2>

            <p>This year we have bunch of new things at UIKonf. One of them is the parallel stage hosted by our Platinum Sponsor, mytaxi.</p>
            <p>This stage will be on a boat anchored in front of our venue, RadialSystem, and will feature a workshop and two talks held by the mytaxi team.</p>
          </div>
      </div>
    </div>
  </div>
</div>


{% assign sorted = site.workshops | where_exp: "item", "item.includedIn contains 'mytaxi'" | sort: 'order' %}
{% for workshop in sorted %}
{% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
  <div class="backshape opposite">
  {% else %}
  <div class="backshape opposite light-grey">
  {% endif %}	
	<div class="wrapper">
		<div class="uk-container uk-container-center uk-margin-large-bottom">
			<div class="uk-grid">
	    	<div class="uk-width-medium-1-3 uk-width-small-1-1 uk-width-large-1-3">
	      		<a name="{{ workshop.anchor }}"></a>
      			<div class="box">
      				<figure class="uk-overlay uk-overlay-hover">
			    		<img class="uk-overlay" src="{{ site.baseurl }}/static/images/{{ workshop.image }}" alt="{{ workshop.title }}">
					</figure>
		     		<div  class="info-box small">
		     			 <h4>{{ workshop.shortTitle }}</h4>
		    		</div>
		   	   </div>
	      	</div>
	      	<div class="uk-width-medium-2-3 uk-width-small-1-1 uk-width-large-2-3" style="padding-top:10px;">
				<h3>{{ workshop.title }}</h3>
				<p>Presenter: {{ workshop.presenter }}<br/>
					Date: {{ workshop.presentationDate }}<br/>
					Location: {{ workshop.location }}<br/>
					Time: {{ workshop.time }}<br/>
					Duration: {{ workshop.duration }}<br/>
					Fee: {{ workshop.fee }}</p>
				
				{{ workshop.content }}
				{% if workshop.tickets %}
					<p style="margin:30px 0px;"><a class="btn uk-button-large" style="padding:20px; text-decoration: none;" href="{{ workshop.tickets }}" target="_blank">Book a Ticket</a></p>
				{% endif %}
	      	</div>
	  		</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="straight light-grey">
	<div class="wrapper">
		<div class="uk-container uk-container-center uk-margin-large-top">
	    	<div class="uk-width-1-1">
	      		<p>In addition to these workshops, the last day of UIKonf will host an unconference-like get-together where everyone can share their knowledge in self-organized labs. If you want to offer a workshop as well, <a href="mailto:questions@uikonf.com" target="_blank">get in touch with us</a>.</p>
	  		</div>
		</div>
	</div>
</div>

