---
layout: default
order: 1
title: Speakers
permalink: /speakers/
description: UIKonf 2019 - Speaker list
includeInNavigation: 0
redirect_from:
 - /speakers/boris_buegling.html
 - /speakers/peter_steinberger.html
 - /speakers/robbert-boehnke.html
---

<div class="headerimage uk-position-relative" style="background-image: url({{ site.baseurl }}/static/images/speakers-header-cropped.jpg);" uk-parallax="bgx: -50">
  <img class="uk-invisible" src="{{ site.baseurl }}/static/images/speakers-header-cropped.jpg" alt="speaker image">
   <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-flex-column">
      <div class="teaser">
	    <div class="uk-container">
			<div class="uk-grid">
        		<div class="uk-width-1-1">
        			<h1>Speakers at UIKonf 2019</h1>
				</div>
       	 		<div class="uk-width-medium-1-2 uk-text-left">
			 	   <p>UIKonf hosts a diverse selection of inspiring speakers. We select and invite about half of our speakers. The other half is selected by our community through our anonymous call for proposals system. Details coming soon.</p>
				</div>
    			<div class="uk-width-medium-1-2 uk-text-left">
					<p><a href="#newsletter">Sign up for our newsletter</a>, if you would like to receive an email when we announce the speakers and when the call for proposal starts.</p>
				</div>
			</div>
		</div>
     </div>
   </div>
</div>

{% for speaker in site.speakers %}
	{% assign loopindex = forloop.index | modulo: 2 %}
  	{% if loopindex == 1 %}
		{% assign topshape = 'backshape opposite light-grey' %}
  	{% else %}
	  	{% assign topshape = 'backshape opposite' %}
  	{% endif %}	
	
  	{% assign imagePath = 'speaker/' | append: speaker.image %}
  
  	{% include 1-2-image-content-block.md topShape=topshape anchor=speaker.anchor image=imagePath imageAlt=speaker.title imageTitle=speaker.title link=speaker.twitter content=speaker.content %}	
{% endfor %}


<div class="straight light-grey">
	<div class="wrapper">
		<div class="uk-container uk-margin-large-top">
	    	<div class="uk-width-1-1">
	      		<p> <a href="#newsletter">Sign up for our newsletter</a> to be informed about upcoming speakers.</p>
	  		</div>
		</div>
	</div>
</div>
