---
layout: default
order: 2
title: Workshops
permalink: /workshops/
includeInNavigation: 1
description: UIKonf 2019 - Workshops
---

<div class="headerimage uk-position-relative" style="background-image: url({{ site.baseurl }}/static/images/speakers-header-cropped.jpg);" uk-parallax="by: -50">
  <img class="uk-invisible" src="{{ site.baseurl }}/static/images/speakers-header-cropped.jpg" alt="speaker image">
   <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-flex-column">
      <div class="teaser">
	    <div class="uk-container">
			<div class="uk-grid">
        		<div class="uk-width-1-1">
        			<h1>Workshops at UIKonf 2019</h1>
				</div>
			</div>
		</div>
     </div>
   </div>
</div>

{% assign sorted = site.workshops | where_exp: "item", "item.includedIn contains 'workshops'" | sort: 'order' %}
{% for workshop in sorted %}

	{% capture workshop_content %}
		<h3>{{ workshop.title }}</h3>
		<p>Presenter: {{ workshop.presenter }}<br/>
		Date: {{ workshop.presentationDate }}<br/>
		Location: {{ workshop.location }}<br/>
		Time: {{ workshop.time }}<br/>
		Duration: {{ workshop.duration }}<br/>
		Fee: {{ workshop.fee }}</p>
				
		{{ workshop.content }}
		{% if workshop.tickets %}
			<p style="margin:30px 0px;"><a class="btn uk-button-large" style="padding:20px; text-decoration: none;" href="{{ workshop.tickets }}" target="_blank">Book a Ticket</a></p>
		{% endif %}
	{% endcapture %}

	<!-- Include content block -->
	{% include 1-2-image-content-block.md anchor=workshop.anchor image=workshop.image imageAlt= workshop.title imageTitle=workshop.shortTitle link=workshop.twitter content=workshop_content %}

{% endfor %}



<div class="light-grey">
	<div class="wrapper">
		<div class="uk-container uk-margin-large-top">
	    	<div class="uk-width-1-1">
	      		<p>In addition to these workshops, the last day of UIKonf will host an unconference-like get-together where everyone can share their knowledge in self-organized labs. If you want to offer a workshop as well, <a href="mailto:questions@uikonf.com" target="_blank">get in touch with us</a>.</p>
	  		</div>
		</div>
	</div>
</div>

