<header class="site-header">

  <div class="uk-container">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/static/images/Logo.png" alt="logo UIKonf">
        </a>
          <ul class="hidden uk-navbar-nav uk-visible@m uk-navbar-right">
			{% assign sorted_pages = site.pages | where:"includeInNavigation",1 | sort:"order" %}
              {% for my_page in sorted_pages %}
                {% if my_page.title %}				
                <li>
                  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <a class="page-link" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
              </li>
              <!-- <li>
                <a class="page-link" href="http://cfp.uikonf.com" target="_blank">Call for Proposals</a>
              </li> -->
			  <li>
				 <a class="page-link btn" href="{{ site.ticket_url }}" target="_blank">Tickets</a>
			  </li>
          </ul>
          <ul class="uk-navbar-nav uk-visible@s uk-navbar-right">
            <li>
                <a uk-toggle="target: #my-id"><i class="uk-icon-bars"></i></a>
            </li>
          </ul>
    </nav>
    <div id="my-id" uk-offcanvas>
        <div class="uk-offcanvas-bar" uk-offcanvas="flip:true">
          <ul  class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
  			{% assign pages = site.pages | where:"includeInNavigation",1 %}
              {% for my_page in pages %}
                {% if my_page.title %}
                <li>
                  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <a class="page-link" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
              </li>
              <!-- <li>
                <a class="page-link" href="http://cfp.uikonf.com" target="_blank">Call for Proposals</a>
              </li> -->
			  <li>
				 <a class="page-link" href="{{ site.ticket_url }}" target="_blank">Tickets</a>
			  </li>
          </ul>
        </div>
    </div>
  </div>

</header>
