<div>
    <figure class="uk-transition-toggle">
        <div class="uk-border-circle uk-inline-clip">
            <a href="{{ include.link }}">
                <div class="uk-transition-scale-up person-photo"
                    style="background-image: url('/static/images/{{ include.image }}')"></div>
            </a>
        </div>
    </figure>
    <div class="uk-text-center">
        <b>{{ include.title }}</b>
        {% if include.description %}
        {{ include.description | markdownify }}
        {% endif %}
    </div>
</div>