<div class="uk-section" id="{{ include.workshop.anchor }}">
	<h3>{{ include.workshop.title }}</h3>
	<div>
		{% for presenter in include.workshop.presenters %}
		{% include person.html title=presenter.name image=presenter.image link=presenter.twitter isSmall=0 %}
		{% endfor %}
	</div>
	<p>Presenter: {{ include.workshop.presenter }}<br />
		Date: {{ include.workshop.presentationDate }}<br />
		Location: {{ include.workshop.location }}<br />
		Time: {{ include.workshop.time }}<br />
		Duration: {{ include.workshop.duration }}<br />
		Fee: {{ include.workshop.fee }}</p>

	{{ include.workshop.content }}
	{% if include.workshop.tickets %}
	<p style="margin:30px 0px;">
		<a class="btn" href="{{ include.workshop.tickets }}" target="_blank">Book a Ticket</a>
	</p>
	{% endif %}

</div>
