
button, li a.btn, a.btn {
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid $brand-color;
	border-radius: 58px;
	padding: 20px 52px;
	background: $brand-color;
	color: #fff;
	text-decoration: none;
	font-weight: 600;

	&:hover, &:focus {
		cursor: pointer;
		background: $brand-color-dark;
		border-color: $brand-color-dark;
		color: #fff;
	}
}