html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
a, button, input, ul li {
	font-family: $base-font-family;
}

a, .btn, button, a img {
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
} 

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	color: $brand-color;
}

h1, .title-section {
	padding: 30px 0;
	text-transform: uppercase;
}

h2, .title-section {
	padding: 30px 0;
	text-transform: uppercase;
}

h3 {
	font-size: 2rem;
}

.relative {
	position: relative;
}

.brand-color-text {
	color: $brand-color;
}

.light-text {
	color: $light-text-color;
}

.wrapper {
	position: relative;
}

a img:hover {
	opacity: 0.8;
}

form {
	input[type="text"], input[type="email"] {
		border-color: $brand-color-light;
		border-radius: 4px;
		color: $brand-color-dark !important;
	}

	::placeholder {
		color: $brand-color-light !important;
		opacity: 1;
	}

}


.text-larger {
	font-size: 16px;
	line-height: 26px;
}

.supporter-logo {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 96px;
	width: 80%;
	margin: auto;
}

.archive-list {
	.author-post {
		margin-top: 15px;
	}
}

.uk-tab > li.uk-active > a {
	border: none;
	background: $brand-color;
	color: white;
}

.teaser  {
	text-align: center;
	position: absolute;
    top: 130px;
	h1, p, a {
		color: white;
	}
}

.teaser-register  {
	text-align: center;
	position: absolute;
	top: 108px;

	h1 {
		font-size: 60px;
	}
	h1, p, a {
		color: white;
	}
}
span {

	&.mytaxi-color {
		color: $mytaxi-color !important;
	}
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 640px;
}

// schedule adjustments
#Schedule {

	.uk-tab::before {
		border-color: $brand-color;
		left: 0;
	}
	
	.uk-tab::before {
		border-color: $brand-color;
		left: 0;
	}
	
	.uk-tab > * {
		padding-left: 0px;
	}
	
	.uk-tab li a {
		color: $brand-color !important;
		font-size: 20px;
	}
	
	.uk-tab li.uk-active a {
		color: #ffffff !important;
	}
	
	.uk-switcher {
		box-shadow: 0px 6px 12px #00000029;
		padding-bottom: 24px;
	}

}

// ti.to widget adjustments

.tito-ticket-name {
	color: $brand-color;
}

button.tito-submit {
	background-color: $brand-color !important;
}