.site-header {
	background-color: $background-color;

	.uk-navbar {
		background: none;

		a {
			color: $brand-color;
    		min-height: auto;
			margin: 20px 0;
			height: 42px;
		}
		.btn {
			border-width: 2px;
		}
	}

	.uk-navbar-brand {
		line-height: 84px;
	}
	.uk-navbar-nav {
		
	}
}