.site-header {
	z-index: 100;
    position: relative;

	.uk-navbar {
		background: none;

		li:hover > a {
			color: $brand-color;
		}

		a {
			color: $brand-color;
    		min-height: auto;
			margin: 20px 0;
			height: 42px;

			&:hover, &:focus {
				color: $brand-color;
			}
		}

		.btn {
			background-color: transparent;
			padding: 20px;

			&:hover, &:focus {
				background: $brand-color;
				border-color: $brand-color;
				color: #fff;
			}
		}
		
	}

	.headerimage-home & .uk-navbar a {
		color: white;
		border-color: white;
	}

	.uk-navbar-brand {
		line-height: 84px;
	}
}