---
layout: page
---

{% assign activeEvents = site.events | where:"active",1 %}

{% for event in activeEvents %}
{% assign loopindex = forloop.index | modulo: 2 %}
{% if loopindex == 1 %}
<div class="opposite light-grey">
    {% else %}
    <div class="opposite">
        {% endif %}
        <div class="wrapper">
            <div class="uk-container uk-margin-large-top">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-3 uk-width-small-1-1 uk-width-1-3@l">
                        <a name="{{ event.anchor }}"></a>
                        <div class="box">
                            <figure class="uk-inline-clip uk-transition-toggle"><img
                                    src="/static/images/events/{{ event.image }}" alt="{{ event.image-alt }}"> </figure>
                            <div class="info-box small">
                                <h4>{{ event.title }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-2-3 uk-width-small-1-1 uk-width-large-2-3" style="padding-top:10px;">
                        {{ event.content }}
                        {% if event.start %}
                        <p>Start: {{ event.start }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{{ content }}