---
layout: page
---
{% assign activeEvents = site.events | where:"active",1 %}
<div class="uk-section">
    {% for event in activeEvents %}
    <div class="uk-grid" id="{{ event.anchor }}">
        <div class="uk-width-1-4@m">
            {% assign imagePath = 'events/' | append: event.image %}
            {% include thumbnail.html link=speaker.twitter image=imagePath alt=event.image-alt %}
        </div>
        <div class="uk-width-3-4@m">
            <h4>{{ event.title }}</h4>
            {{ event.content | markdownify }}
            {% if event.start %}
            <p>Start: {{ event.start }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="uk-section">
    {{ content }}
</div>