---
layout: default
---

<div class="headerimage-home" style="background-image: url('{{ site.baseurl }}/static/images/{{ page.headerImage }}');"
    uk-parallax="by: -50">
    {% include header.html %}
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-flex-column">
        <div class="teaser-register">
            <img src="{{ site.baseurl }}/static/images/uikonf-logo.svg" height="280" width="280" alt="logo UIKonf" />
            <h1>{{ page.headerTitle }}</h1>
            {% if site.tickets_enabled %}
            <a class="btn" href="{{ site.ticket_url }}">Book now</a>
            {% endif %}
        </div>
    </div>
</div>

{% assign page_sections = page.sections | where: "enabled", true %}
{% for section in page_sections %}
{% case section.id %}

{% when "introduction" %}

<div class="uk-margin-medium-top uk-margin-bottom" id="{{ section.id}}">
    <div class="uk-container">
        <div class="uk-column-1-2@m">
            {{ section.text | markdownify }}
        </div>
    </div>
</div>

{% when "tickets" %}
{% if site.tickets_enabled %}
<div class="uk-section" id="{{ section.id}}">
    <div class="uk-container">
        <h2 class="uk-text-center">{{ section.headline }}</h2>
        <div class="uk-margin-medium-bottom">
            <script>TitoDevelopmentMode = true</script>
            <tito-widget event="{{ site.ticket_widget_id }}"></tito-widget>
        </div>
        {{ section.text | markdownify }}
    </div>
</div>
{% endif %}

{% when "schedule" %}

<div class="uk-section" id="{{ section.id}}">
    <div class="uk-container">
        <h2 class="uk-text-center">{{ section.headline }}</h2>
        {% include schedule.html context="home" %}
    </div>
</div>

{% when "speakers" %}

<div class="uk-section light-grey" id="{{ section.id}}">
    <div class="uk-container">
        <h2 class="uk-text-center">{{ section.headline }}</h2>
        {{ section.text | markdownify }}
        <div class="uk-container uk-width-2-3@m">
            <div class="uk-grid uk-flex-center uk-child-width-1-3@m uk-child-width-1-1@s uk-margin-medium-top uk-margin-medium-bottom">
                {% for speaker in site.speakers %}
                <div class="uk-margin-bottom uk-text-center">
                    {% capture speaker_link %}/speakers#{{ speaker.anchor}}{% endcapture %}
                    {% capture speaker_image %}/speaker/{{ speaker.image}}{% endcapture %}
                    {% include person.html title=speaker.title description=speaker.short-bio image=speaker_image link=speaker_link isSmall=0 %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% when "cfp" %}
        {{ section.text | markdownify }}
    </div>
</div>


{% when "sponsors" %}

<div class="uk-section" id="{{ section.id}}">
    <div class="uk-container">
        <h2 class="uk-text-center">{{ section.headline }}</h2>
        {{ section.text | markdownify }}
        <div class="uk-text-center uk-grid uk-flex-between uk-child-width-1-3@m uk-margin-large-bottom" uk-grid>
            {% assign activeSponsors = site.sponsors | where:"active",1 %} {% if activeSponsors.size > 0 %}
            {% for sponsor in activeSponsors %}
            <div class="">
                {% include sponsor.html content=sponsor.content image=sponsor.image anchor=sponsor.anchor image-alt=sponsor.image-alt%}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% when "social-events" %}

<div class="uk-section light-grey" id="{{ section.id}}">
    <div class="uk-container">
        <h2 class="uk-text-center">{{ section.headline }}</h2>
        {{ section.text | markdownify }}
        <div class="uk-text-center uk-grid uk-flex-center uk-child-width-1-4@m uk-child-width-1-1@s uk-margin-large-bottom"
            uk-grid>
            {% assign activeEvents = site.events | where:"active",1 %}

            {% for event in activeEvents %}
            <div class="">
                {% capture event_image %}/events/{{ event.image}}{% endcapture %}
                {% if site.social_events_enabled %}
                    {% capture event_link %}/social-events#{{ event.anchor}}{% endcapture %}
                    {% include person.html title=event.title description=event.description image=event_image link=event_link isSmall=0 %}
                {% else %}
                    {% include person.html title=event.title description=event.description image=event_image isSmall=0 %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% else %}

{% endcase %}

{% endfor %}


{% include newsletter.html %}

{% include location.html %}