---
layout: page
---

<div class="videos-section uk-grid uk-margin-large-top uk-margin-large-bottom">
	{% assign mainVideos = page.videos | where:"isMain",1 %}
	{% for video in mainVideos %}
	<div class="uk-width-1-1 uk-text-center">
		<h3>{{ video.title }}</h3>
		<div class="uk-responsive-height">
			<iframe width="100%" height="500" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{% endfor %}

	<div class="uk-width-1-1 uk-margin-large-top">
		<h1>Other Videos</h1>
	</div>
	{% assign otherVideos = page.videos | where:"isMain",0 %}
	{% for video in otherVideos %}
	<div class="uk-width-1-2@m uk-margin-large-bottom">
		<h3>{{ video.title }}</h3>
		<div class="uk-responsive-height">
			<iframe width="100%" height="300" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{% endfor %}
</div>
